.blog {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  padding-top: 60px;
  padding-bottom: 60px;
}

.blog__content {
  display: flex;
  justify-content: space-between;
  width: 1170px;
  padding-top: 6px;
}

